@model IEnumerable<Restaurante.Models.DetallePedido>

@{
    ViewData["Title"] = "Detalle Pedido";
}

<h1>Detalle Pedido</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PedidoID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductoID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PedidoID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductoID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DetalleID">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.DetalleID">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.DetalleID">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
